/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {
  img.w-100 {
    width: 100% !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
  }
}
