<wrapper pardot-repeatable>
  <row>
    <columns>
      <h3 pardot-region>Title</h3>
      <spacer size="5"></spacer>
      <div pardot-region>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul>
          <li>Lorem ipsum</li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <wrapper pardot-removable>
        <spacer size="20"></spacer>
        <button
          pardot-region
          class="rounded large"
          href="https://www.appway.com/screen/WebPortal"
          target="_blank"
        >
          Button Text
        </button>
      </wrapper>
    </columns>
  </row>
</wrapper>
