<row>
  <columns>
    <center>
      <p class="small text-center">
        <a href="https://www.appway.com" target="_blank">appway.com</a> -
        <a href="mailto:{{ email }}">{{ email }}</a> / For support requests,
        please
        <a href="https://www.appway.com/contact" target="_blank">contact us</a
        >.<br />Appway and the Appway Logo are registered trademarks of Appway
        AG.<br />Content and design are copyrighted © 2019 Appway AG – All
        rights reserved.
      </p>

      <a target="_blank" class="small" href="%%email_preference_center%%"
        >Manage email preferences</a
      >
    </center>
    <spacer size="15"></spacer>
  </columns>
</row>
