<spacer size="30"></spacer>
<row valign="middle">
  <columns large="6" small="6">
    <a href="https://www.appway.com" target="_blank">
      <img
        src="https://info.appway.com/l/393452/2019-10-09/8jl42v/393452/187249/Appway_Logo___2019_Logo_Grey_17.png"
        alt="Appway Logo"
        style="width: 80px !important"
        width="80"
      />
    </a>
  </columns>
  <columns large="6" small="6">
    <p class="text-right">
      <a href="{{ titleLinksTo }}" target="_blank">{{ title }}</a>
    </p>
  </columns>
</row>
