<wrapper pardot-repeatable>
  <row>
    <columns large="6">
      <wrapper pardot-removable>
        <img
          src="http://placehold.it/275x118"
          style="width: 100% !important; height: auto"
          class="w-100"
          pardot-region
        />
        <spacer size="15"></spacer>
      </wrapper>
      <wrapper pardot-removable>
        <h5 pardot-region>Consectetuer Adipiscing Elit</h5>
        <p pardot-region>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa.
        </p>
        <spacer size="20"></spacer>
      </wrapper>
      <wrapper pardot-removable>
        <button
          pardot-region
          class="rounded"
          href="https://www.appway.com/screen/WebPortal"
          target="_blank"
        >
          Button Text
        </button>
      </wrapper>
    </columns>
    <columns large="6">
      <wrapper pardot-removable>
        <img
          src="http://placehold.it/275x118"
          style="width: 100%; height: auto"
          class="w-100"
          pardot-region
        />
        <spacer size="15"></spacer>
      </wrapper>
      <wrapper pardot-removable>
        <h5 pardot-region>Consectetuer Adipiscing Elit</h5>
        <p pardot-region>
          Lorem ipsum dolor sit amet, <a>consectetuer adipiscing elit</a>.
          Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <spacer size="20"></spacer>
      </wrapper>
      <wrapper pardot-removable>
        <button
          pardot-region
          class="rounded"
          href="https://www.appway.com/screen/WebPortal"
          target="_blank"
        >
          Button Text
        </button>
      </wrapper>
    </columns>
  </row>
</wrapper>
