<wrapper pardot-repeatable>
  <row>
    <columns>
      <img
        src="http://placehold.it/580x250"
        style="width: 100% !important; height: auto"
        class="w-100"
        pardot-region
      />
      <spacer size="15"></spacer>

      <h2 pardot-region>Title</h2>
      <div pardot-region>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul>
          <li>Lorem ipsum</li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <wrapper pardot-removable>
        <spacer size="20"></spacer>
        <button
          pardot-region
          class="rounded large"
          href="https://www.appway.com/screen/WebPortal"
          target="_blank"
        >
          Button Text
        </button>
      </wrapper>
    </columns>
  </row>
</wrapper>
