<wrapper pardot-repeatable>
  <row>
    <columns>
      <wrapper pardot-removable>
        <img
          src="http://placehold.it/580x250"
          style="width: 100% !important; height: auto"
          class="w-100"
          pardot-region
        />
        <spacer size="15"></spacer>
      </wrapper>

      <h2 pardot-region>Title</h2>
      <div pardot-region>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul>
          <li>Lorem ipsum</li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <spacer size="20"></spacer>
      <wrapper pardot-removable>
        <button
          pardot-region
          class="rounded large"
          href="https://www.appway.com/screen/WebPortal"
          target="_blank"
        >
          Button Text
        </button>
      </wrapper>
      <spacer size="20"></spacer>
    </columns>
  </row>
</wrapper>
