<wrapper pardot-repeatable>
  <row>
    <columns large="6">
      <wrapper pardot-removable>
        <row>
          <columns large="6" small="5" valign="middle">
            <img
              pardot-region
              src="http://placehold.it/120x120"
              style="width: 90% !important; height: auto"
              class="thumbnail"
            />
          </columns>
          <columns large="6" small="7" valign="middle">
            <h6 pardot-region>Markus Mustermann</h6>
            <p pardot-region>Job Title</p>
            <p pardot-region>Company</p>
            <spacer size="5"></spacer>
            <menu>
              <item pardot-removable>
                <img
                  pardot-region
                  src="https://info.appway.com/linkedin-logo-dark"
                  alt="LinkedIn Logo"
                  width="20"
                  style="width: 20px !important"
              /></item>
              <item pardot-removable
                ><img
                  pardot-region
                  src="https://info.appway.com/twitter-logo-dark"
                  alt="Twitter Logo"
                  width="23"
                  style="width: 23px !important"
              /></item>
              <item></item>
              <item></item>
              <item></item>
              <item></item>
            </menu>
          </columns>
        </row>
      </wrapper>
    </columns>
    <columns large="6">
      <wrapper pardot-removable>
        <row>
          <columns large="6" small="5" valign="middle">
            <img
              pardot-region
              src="http://placehold.it/120x120"
              style="width: 90% !important; height: auto"
              class="thumbnail"
            />
          </columns>
          <columns large="6" small="7" valign="middle">
            <h6 pardot-region>Markus Mustermann</h6>
            <p pardot-region>Job Title</p>
            <p pardot-region>Company</p>
            <spacer size="5"></spacer>
            <menu>
              <item pardot-removable>
                <img
                  pardot-region
                  src="https://info.appway.com/linkedin-logo-dark"
                  alt="LinkedIn Logo"
                  width="20"
                  style="width: 20px !important"
              /></item>
              <item pardot-removable
                ><img
                  pardot-region
                  src="https://info.appway.com/twitter-logo-dark"
                  alt="Twitter Logo"
                  width="23"
                  style="width: 23px !important"
              /></item>
              <item></item>
              <item></item>
              <item></item>
              <item></item>
            </menu>
          </columns>
        </row>
      </wrapper>
    </columns>
  </row>
</wrapper>
