<row class="collapsed">
  <columns valign="middle">
    <center>
      <menu>
        <item
          ><a href="https://www.linkedin.com/company/appway/" target="_blank"
            ><img
              src="https://info.appway.com/linkedin-logo-dark"
              alt="LinkedIn Logo"
              width="24"
              style="width: 24px !important"/></a
        ></item>
        <item
          ><a href="https://twitter.com/appway" target="_blank"
            ><img
              src="https://info.appway.com/twitter-logo-dark"
              alt="Twitter Logo"
              width="26"
              style="width: 26px !important"/></a
        ></item>
      </menu>
    </center>
  </columns>
</row>
