<row class="collapsed">
  <columns valign="middle">
    <center>
      <menu>
        <item
          ><img
            src="https://info.appway.com/l/393452/2019-10-09/8jl41g/393452/187243/linkedin.png"
            alt=""
            width="24"
            style="width: 24px !important"
        /></item>
        <item
          ><img
            src="https://info.appway.com/l/393452/2019-10-09/8jl41l/393452/187247/twitter.png"
            alt=""
            width="26"
            style="width: 26px !important"
        /></item>
      </menu>
    </center>
  </columns>
</row>
